# Системные файлы macOS
.DS_Store

# Виртуальное окружение Python
venv/

# Файлы конфигурации среды
.env

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Логи и временные файлы
*.log
*.tmp

# Бэкапы и временные файлы редакторов
*.swp
*.swo
.vercel
